* {
    font-family: "JetBrains Mono", "JetBrains Mono Nerd Font Propo", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-right,
.modules-center {
    background-color: transparent;
    margin: 0 10px 0.75rem 10px;
}

#workspaces button label {
    color: #f0f0f0;
    font-weight: bolder;
}

#workspaces button.active label {
    color: #151515;
    font-weight: bolder;
}

#workspaces button {
    margin: 0 0.25rem;
    padding: 5px 10px;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    background-color: #151515;
    border-radius: 7px;
    font-weight: bolder;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
    padding: 5px 20px;
    background: #ebdbb3;
}

#cpu,
#memory,
#battery,
#network,
#custom-updates,
#backlight,
#pulseaudio,
#custom-weather,
#clock {
    margin-right: 0.5rem;
    padding: 0 20px;
    border-radius: 7px;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    background-color: #151515;
    color: #f0f0f0;
    font-weight: bold;
}

#clock {
    margin-right: 0rem;
}
